<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>添加宠物服务</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
    <style type="text/css">
        h1 {
            text-align: center;
            margin-top: 200px;
        }
        
        h1 a {
            color: red;
        }
        
        input {
            text-align: center;
        }
    </style>
</head>

<body background ="https://uploadfile.bizhizu.cn/2015/0519/20150519015233366.jpg.source.jpg" style="background-repeat: no-repeat;background-size: 100% 100%;
background-attachment: fixed;">>
    <div id="header">
        <span class="wel_word">添加宠物服务</span>
        <div>
            <a href="/main">返回首页</a>
        </div>
    </div>

    <div id="main">
        <form action="/addService" method="POST">
            <table>
                <tr>
                    <td>服务名称</td>
                    <td>服务价格</td>
                    <td>服务数量</td>
                    <td>服务图片地址</td>
                    <td colspan="2">操作</td>
                </tr>
                <tr>
                    <td><input name="name" type="text" value="" /></td>
                    <td><input name="price" type="text" value="" /></td>
                    <td><input name="num" type="text" value="" /></td>
                    <td><input name="imgPath" type="text" value="" /></td>
                    <td><input type="submit" value="提交" /></td>
                </tr>
            </table>
        </form>


    </div>
</body>

</html>