<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>宠物服务管理</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
    <script src="/static/script/jquery-1.7.2.js"></script>
    <script>
        $(function() {
            //给删除宠物服务的超链接绑定单击事件
            $(".deleteService").click(function() {
                //获取宠物服务名
                var name = $(this).attr("id")
                return confirm("确定要删除【" + name + "】这项宠物服务吗？");
            });
        });
    </script>
</head>

<body background ="https://uploadfile.bizhizu.cn/2015/0519/20150519015233366.jpg.source.jpg" style="background-repeat: no-repeat;background-size: 100% 100%;
background-attachment: fixed;">>

    <div id="header">
        <span class="wel_word">”宠物之家“寄存管理系统</span>
        <div>
            <a href="/getOrders">订单管理</a>
            <a href="/main">返回首页</a>
        </div>
    </div>

    <div id="main">
        <table>
            <tr>
                <td>名称</td>
                <td>价格</td>
                <td>数量</td>
                <td colspan="2">操作</td>
            </tr>
            {{range .Services}}
            <tr>
                <td>{{.Name}}</td>
                <td>{{.Price}}</td>
                <td>{{.Num}}</td>
                <td><a href="/toUpdateServicePage?serviceID={{.ID}}">修改</a></td>
                <td><a id="{{.Name}}" class="deleteService" href="/deleteService?serviceID={{.ID}}">删除</a></td>
            </tr>
            {{end}}


            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="/pages/manager/service_edit.html">添加服务</a></td>
            </tr>
        </table>
        <div id="page_nav">
            {{if .IsHasPrev}}
            <a href="/getPageServices">首页</a>
            <a href="/getPageServices?pageNow={{.GetPrevPage}}">上一页</a> {{end}} 当前是第{{.PageNow}}页，共{{.PageSum}}页，共{{.PageFinal}}条记录 {{if .IsHasNext}}
            <a href="/getPageServices?pageNow={{.GetNextPage}}">下一页</a>
            <a href="/getPageServices?pageNow={{.PageSum}}">末页</a> {{end}}到第
            <input value="{{.PageNow}}" name="pn" id="pn_input" />页
            <input type="button" value="确定" id="sub">
            <script>
                //给确定按钮绑定单击事件
                $("#sub").click(function() {
                    //获取输入的页码
                    var pageNow = $("#pn_input").val();
                    location = "/getPageCars?pageNow=" + pageNow;
                });
            </script>
        </div>
    </div>

</body>

</html>