<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>”宠物之家“寄存管理系统登录</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
    <style type="text/css">
        h1 {
            text-align: center;
            margin-top: 200px;
        }
        
        h1 a {
            color: red;
        }
    </style>
</head>

<body background ="https://uploadfile.bizhizu.cn/2015/0519/20150519015233366.jpg.source.jpg" style="background-repeat: no-repeat;background-size: 100% 100%;
background-attachment: fixed;">>
    <div id="header">
        <div>
            <span>欢迎<span class="um_span">{{.Name}}</span>使用”宠物之家“寄存管理系统</span>
            <a href="/logout">注销</a>&nbsp;&nbsp;
            <a href="/getMyOrder">我的订单</a>
            <a href="/main">返回</a>
        </div>
    </div>

    <div id="main">
        <h1>欢迎回来 <a href="/main">转到主页</a></h1>
    </div>
</body>

</html>