<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>租车管理系统注册</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
    <style type="text/css">
        .login_form {
            height: 550px;
            margin-top: 130px;
        }
    </style>
    <script src="/static/script/jquery-1.7.2.js"></script>
    <script>
        $(function() {
            //给注册按钮绑定单击事件
            $("#sub_btn").click(function() {
                //获取用户输入的姓名
                var name = $("name").val();
                //获取用户输入的年龄
                var age = $("age").val();
                //获取用户输入的电话
                var phone = $("phone").val();
                //获取用户输入的账号
                var username = $("#username").val();
                //设置验证用户名的正则表达式
                var usernameReg = /^[a-zA-Z0-9_-]{3,16}$/;
                //验证是否符合规则
                var flag = usernameReg.test(username);
                if (!flag) {
                    alert("请输入3-16位的字母、数字、下划线或减号的用户名！");
                    return false;
                }
                //获取用户输入的密码
                var password = $("#password").val();
                //设置验证密码的正则表达式
                var passwordReg = /^[a-zA-Z0-9_-]{6,18}$/;
                if (!passwordReg.test(password)) {
                    alert("请输入6-18位的字母、数字、下划线或减号的密码！")
                    return false;
                }
                //获取用户输入的确认密码
                var repwd = $("#repwd").val();
                if (repwd == "") {
                    alert("确认密码不能为空！");
                    return false;
                }
                //判断两次输入的密码是否一致
                if (repwd != password) {
                    //将确认密码清空，即将确认密码密码框中的value属性设置为空
                    $("#repwd").val("");
                    alert("两次输入的密码不一致！");
                    return false;
                }

            });
            //将显示错误提示信息的span标签隐藏
            $("#msg").hide();
            if ("{{.}}" == "账号已存在！") {
                $("#msg").show();
            }
        });
    </script>
</head>

<body>
    <div class="login_banner">
        <div id="l_content">
            <span class="login_word">欢迎注册</span>
        </div>

        <div id="content">
            <div class="login_form">
                <div class="login_box">
                    <div class="tit">
                        <h1>租车管理系统</h1>
                        <span class="errorMsg" id="msg">{{.}}</span>
                    </div>
                    <br>
                    <div class="form">
                        <form action="/regist" method="POST">
                            <label>姓名：</label>
                            <input class="itxt" type="text " placeholder="请输入姓名" autocomplete="off" tabindex="1" name="name" id="name" />
                            <br />
                            <br />
                            <label>年龄：</label>
                            <input class="itxt" type="text " placeholder="请输入年龄" autocomplete="off" tabindex="1" name="age" id="age" />
                            <br />
                            <br />
                            <label>电话：</label>
                            <input class="itxt" type="text " placeholder="请输入电话" autocomplete="off" tabindex="1" name="phone" id="phone" />
                            <br />
                            <br />
                            <label>账号：</label>
                            <input class="itxt" type="text" placeholder="请输入账号" autocomplete="off" tabindex="1" name="username" id="username" />
                            <br />
                            <br />
                            <label>密码：</label>
                            <input class="itxt" type="password" placeholder="请输入密码" autocomplete="off" tabindex="1" name="password" id="password" />
                            <br />
                            <br />
                            <label>确认密码：</label>
                            <input class="itxt" type="password" placeholder="确认密码" autocomplete="off" tabindex="1" name="repwd" id="repwd" />
                            <br />
                            <br />
                            <br />
                            <input type="submit" value="注册" id="sub_btn" />
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>

</html>