<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>我的购物车</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
    <script src="/static/script/jquery-1.7.2.js"></script>
    <script>
        $(function() {
            //给清空订单的超链接绑定单击事件
            $("#emptyCart").click(function() {
                return confirm("确定要清空购物车吗？")
            });
            //给删除订单项的超链接绑定单击事件
            $(".deleteCartItem").click(function() {
                    //获取宠物服务的名称
                    var name = $(this).attr("id");
                    return confirm("确定要删除【" + name + "】这项宠物服务吗？")
                })
                //给输入订单项的宠物服务数量超链接绑定单击事件
            $(".updateCartItem").change(function() {
                //获取订单项的id
                var cartItemId = $(this).attr("id");
                //获取用户输入的宠物服务的数量
                var carCount = $(this).val();
                //发送请求
                location = "/updateCartItem?cartItemId=" + cartItemId + "&carCount=" + carCount;
            })
        });
    </script>
</head>

<body background ="https://uploadfile.bizhizu.cn/2015/0519/20150519015233366.jpg.source.jpg" style="background-repeat: no-repeat;background-size: 100% 100%;
background-attachment: fixed;">>

    <div id="header">
        <span class="wel_word">我的购物车</span> {{if .UserID}}
        <div>
            <span>欢迎<span class="um_span">{{.Name}}</span>使用”宠物之家“寄存管理系统</span>
            <a href="/getMyOrder">我的订单</a>
            <a href="/logout">注销</a>&nbsp;&nbsp;
            <a href="/main">返回首页</a>
        </div>
        {{else}}
        <div>
            <a href="/pages/user/login.html">登录</a>
            <a href="/pages/user/regist.html">注册</a> &nbsp;&nbsp;
        </div>
        {{end}}
    </div>

    <div id="main">
        {{if .Cart}}
        <table>
            <tr>
                <td>服务名称</td>
                <td>数量</td>
                <td>单价</td>
                <td>总价</td>
                <td>操作</td>
            </tr>
            {{range .Cart.CartItems}}
            <tr>
                <td>{{.Service.Name}}</td>
                <td>
                    <input id="{{.CartItemID}}" class="updateCartItem" type="text" value="{{.Count}}" style="text-align: center;width: 50px;" />
                </td>
                <td>{{.Service.Price}}</td>
                <td>{{.Amount}}</td>
                <td><a id="{{.Service.Name}}" class="deleteCartItem" href="/deleteCartItem?cartItemId={{.CartItemID}}">删除</a></td>
            </tr>
            {{end}}

        </table>
        <br>

        <div class="cart_info">
            <span class="cart_span">您的购物车中共有<span class="b_count">{{.Cart.TotalCount}}</span>项宠物服务</span>
            <span class="cart_span">总金额<span class="b_price">{{.Cart.TotalAmount}}</span>元</span>
            <span class="cart_span"><a href="/main">继续加购</a></span>
            <span class="cart_span"><a href="/deleteCart?cartId={{.Cart.CartID}}" id="emptyCart">清空购物车</a></span>
            <span class="cart_span"><a href="/checkout">去付款</a></span>
        </div>
        {{else}}
        <br><br><br><br><br><br><br><br><br>
        <h1 style="text-align: center;">您的购物车空空如也！！</h1>
        {{end}}

    </div>

</body>

</html>