<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>结算页面</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
    <style type="text/css">
        h1 {
            text-align: center;
            margin-top: 200px;
        }
    </style>
</head>

<body background ="https://uploadfile.bizhizu.cn/2015/0519/20150519015233366.jpg.source.jpg" style="background-repeat: no-repeat;background-size: 100% 100%;
background-attachment: fixed;">>

    <div id="header">
        <span class="wel_word">结算</span>
        <div>
            <span>欢迎<span class="um_span">{{.Name}}</span>使用”宠物之家“寄存管理系统</span>
            <a href="/getMyOrder">我的订单</a>
            <a href="/logout">注销</a>&nbsp;&nbsp;
            <a href="/main">返回首页</a>
        </div>
    </div>

    <div id="main">

        <h1>你的订单已付款，付款单号为<span style="color: red">{{.OrderID}}</span></h1>
    </div>

</body>

</html>